.container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 80vw;
    background-color: #e5e5e5;
}

.chatHeader {
    background-color: #00b900;
    color: white;
    padding: 10px;
    font-size: 2em;
    text-align: center;
}

.chatBody {
    flex-grow: 1;
    padding: 10px;
    overflow-y: scroll;
}

.messageContainer {
    display: flex;
    margin-bottom: 10px;
}

.messageUser {
    justify-content: flex-end;
}

.messageBot {
    justify-content: flex-start;
}

.message {
    max-width: 60%;
    padding: 10px;
    border-radius: 10px;
    font-size: 1.5em;
    position: relative; 
}

.userMessage {
    background-color: #dcf8c6;
    margin-right: 10px;
}

.userMessage::after {
    content: '';
    position: absolute;
    right: -25px;
    top: 25%;
    transform: translateY(-50%);
    border-width: 15px;
    border-style: solid;
    border-color: transparent transparent transparent #dcf8c6; 
}

.botMessage {
    background-color: #fff;
    margin-left: 10px;
}

.botMessage::after {
    content: '';
    position: absolute;
    left: -25px;
    top: 75%;
    transform: translateY(-50%);
    border-width: 15px;
    border-style: solid;
    border-color: transparent #fff transparent transparent;
}

.inputArea {
    display: flex;
    padding: 10px;
    background-color: #f0f0f0;
    font-size: 1.5em;
    border-top: 1px solid #ccc;
}

.inputField {
    flex-grow: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    font-size: 1em;
    outline: none;
}

.sendButton {
    background-color: #00b900;
    color: white;
    border: none;
    padding: 10px 20px;
    margin-left: 10px;
    border-radius: 12px;
    font-size: 1em;
    cursor: pointer;
}

.avatar {
    width: 60px;
    height: 60px;
}

.avatarImage {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: #f1f0f0;
}

.imageSender {
    margin-left: 5px;
}

.imageReceiver {
    margin-left: -5px;
}
